<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 ltie8 ltie9" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ltie9" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)]><!-->
<html lang="en-US">
  <!--<![endif]-->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <link
      rel="pingback"
      href="https://coconutgrovehotelsghana.com/regencyhotel/xmlrpc.php"
    />
    <title>Booking &#8211; Regency Hotel</title>
    <meta name="robots" content="max-image-preview:large" />
    <link rel="dns-prefetch" href="//js.stripe.com" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//s.w.org" />
    <script type="text/javascript">
      window._wpemojiSettings = {
        baseUrl: "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
        ext: ".png",
        svgUrl: "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
        svgExt: ".svg",
        source: {
          concatemoji:
            "https:\/\/coconutgrovehotelsghana.com\/regencyhotel\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.3",
        },
      };
      !(function (e, a, t) {
        var n,
          r,
          o,
          i = a.createElement("canvas"),
          p = i.getContext && i.getContext("2d");
        function s(e, t) {
          var a = String.fromCharCode;
          p.clearRect(0, 0, i.width, i.height),
            p.fillText(a.apply(this, e), 0, 0);
          e = i.toDataURL();
          return (
            p.clearRect(0, 0, i.width, i.height),
            p.fillText(a.apply(this, t), 0, 0),
            e === i.toDataURL()
          );
        }
        function c(e) {
          var t = a.createElement("script");
          (t.src = e),
            (t.defer = t.type = "text/javascript"),
            a.getElementsByTagName("head")[0].appendChild(t);
        }
        for (
          o = Array("flag", "emoji"),
            t.supports = { everything: !0, everythingExceptFlag: !0 },
            r = 0;
          r < o.length;
          r++
        )
          (t.supports[o[r]] = (function (e) {
            if (!p || !p.fillText) return !1;
            switch (
              ((p.textBaseline = "top"), (p.font = "600 32px Arial"), e)
            ) {
              case "flag":
                return s(
                  [127987, 65039, 8205, 9895, 65039],
                  [127987, 65039, 8203, 9895, 65039]
                )
                  ? !1
                  : !s(
                      [55356, 56826, 55356, 56819],
                      [55356, 56826, 8203, 55356, 56819]
                    ) &&
                      !s(
                        [
                          55356, 57332, 56128, 56423, 56128, 56418, 56128,
                          56421, 56128, 56430, 56128, 56423, 56128, 56447,
                        ],
                        [
                          55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418,
                          8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128,
                          56423, 8203, 56128, 56447,
                        ]
                      );
              case "emoji":
                return !s(
                  [10084, 65039, 8205, 55357, 56613],
                  [10084, 65039, 8203, 55357, 56613]
                );
            }
            return !1;
          })(o[r])),
            (t.supports.everything = t.supports.everything && t.supports[o[r]]),
            "flag" !== o[r] &&
              (t.supports.everythingExceptFlag =
                t.supports.everythingExceptFlag && t.supports[o[r]]);
        (t.supports.everythingExceptFlag =
          t.supports.everythingExceptFlag && !t.supports.flag),
          (t.DOMReady = !1),
          (t.readyCallback = function () {
            t.DOMReady = !0;
          }),
          t.supports.everything ||
            ((n = function () {
              t.readyCallback();
            }),
            a.addEventListener
              ? (a.addEventListener("DOMContentLoaded", n, !1),
                e.addEventListener("load", n, !1))
              : (e.attachEvent("onload", n),
                a.attachEvent("onreadystatechange", function () {
                  "complete" === a.readyState && t.readyCallback();
                })),
            (n = t.source || {}).concatemoji
              ? c(n.concatemoji)
              : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)));
      })(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
      img.wp-smiley,
      img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 0.07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
      }
    </style>
    <link
      rel="stylesheet"
      id="wp-block-library-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/css/dist/block-library/style.min.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="layerslider-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/LayerSlider/static/css/layerslider.css?ver=5.6.5"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ls-google-fonts-css"
      href="https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="contact-form-7-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.5.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="foogallery-core-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/foogallery/extensions/default-templates/shared/css/foogallery.min.css?ver=2.1.18"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="hotel-style-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/gdlr-hotel/gdlr-hotel.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wonderplugin-slider-css-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/wonderplugin-slider-lite/engine/wonderpluginsliderengine.css?ver=12.8"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="flw_css-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/wp-rave-payment-forms-master/assets/css/flw.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="style-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/style.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="Merriweather-google-font-css"
      href="https://fonts.googleapis.com/css?family=Merriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;subset=vietnamese%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Clatin&#038;ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="Open-Sans-google-font-css"
      href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=vietnamese%2Cgreek-ext%2Clatin-ext%2Ccyrillic%2Cgreek%2Ccyrillic-ext%2Clatin&#038;ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="Montserrat-google-font-css"
      href="https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;subset=vietnamese%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Clatin&#038;ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="superfish-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/superfish/css/superfish.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="dlmenu-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/dl-menu/component.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="font-awesome-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=4.7.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="jquery-fancybox-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/fancybox/jquery.fancybox.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="hotelmaster-flexslider-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/flexslider/flexslider.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="style-responsive-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/stylesheet/style-responsive.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="style-custom-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/stylesheet/style-custom.css?1636549854&#038;ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="newsletter-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/newsletter/style.css?ver=7.3.1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wpgmp-frontend_css-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/wp-google-map-plugin/assets/css/frontend.css?ver=5.8.3"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ms-main-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/masterslider/public/assets/css/masterslider.main.css?ver=3.5.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="ms-custom-css"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/uploads/masterslider/custom.css?ver=26.5"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/jquery/jquery.min.js?ver=3.6.0"
      id="jquery-core-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2"
      id="jquery-migrate-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/masterslider/includes/modules/elementor/assets/js/elementor-widgets.js?ver=3.5.0"
      id="masterslider-elementor-widgets-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/LayerSlider/static/js/greensock.js?ver=1.11.8"
      id="greensock-js"
    ></script>
    <script type="text/javascript" id="layerslider-js-extra">
      /* <![CDATA[ */
      var LS_Meta = { v: "5.6.5" };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js?ver=5.6.5"
      id="layerslider-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/LayerSlider/static/js/layerslider.transitions.js?ver=5.6.5"
      id="layerslider-transitions-js"
    ></script>
    <script
      type="text/javascript"
      src="https://js.stripe.com/v3/?ver=5.8.3"
      id="stripe-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/wonderplugin-slider-lite/engine/wonderpluginsliderskins.js?ver=12.8"
      id="wonderplugin-slider-skins-script-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/wonderplugin-slider-lite/engine/wonderpluginslider.js?ver=12.8"
      id="wonderplugin-slider-script-js"
    ></script>
    <link
      rel="https://api.w.org/"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-json/"
    />
    <link
      rel="alternate"
      type="application/json"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-json/wp/v2/pages/4264"
    />
    <link
      rel="canonical"
      href="https://coconutgrovehotelsghana.com/regencyhotel/"
    />
    <link
      rel="shortlink"
      href="https://coconutgrovehotelsghana.com/regencyhotel/"
    />
    <link
      rel="alternate"
      type="application/json+oembed"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fcoconutgrovehotelsghana.com%2Fregencyhotel%2F"
    />
    <link
      rel="alternate"
      type="text/xml+oembed"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fcoconutgrovehotelsghana.com%2Fregencyhotel%2F&#038;format=xml"
    />
    <script>
      var ms_grabbing_curosr =
          "https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur",
        ms_grab_curosr =
          "https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/masterslider/public/assets/css/common/grab.cur";
    </script>
    <meta
      name="generator"
      content="MasterSlider 3.5.0 - Responsive Touch Image Slider"
    />
    <link
      rel="shortcut icon"
      href="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/uploads/2016/04/favicon.png"
      type="image/x-icon"
    />
    <!-- load the script for older ie version -->
    <!--[if lt IE 9]>
      <script
        src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/javascript/html5.js"
        type="text/javascript"
      ></script>
      <script
        src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/easy-pie-chart/excanvas.js"
        type="text/javascript"
      ></script>
    <![endif]-->
    <style type="text/css">
      .recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
      }
    </style>
    <style id="custom-css-pro">
      #content-section-2 .gdlr-color-wrapper,
      .gdlr-parallax-wrapper {
        background: #242424 !important;
        border-bottom: none !important;
        margin-top: -3.56em !important;
      }

      section#content-section-2
        .gdlr-color-wrapper.gdlr-show-all.gdlr-skin-dark-service {
        margin-top: -2.5em !important;
      }

      section#content-section-2
        input.gdlr-reservation-bar-button.gdlr-button.with-border {
        background: #3e4145 !important;
        border: 2px solid #566168 !important;
      }
      div#footer-widget-1 {
        width: 429px !important;
      }
      div#footer-widget-2 {
        width: 330.5px !important;
      }
      .gdlr-item-title-wrapper.pos-center-divider .gdlr-item-title {
        letter-spacing: 0px !important;
      }
    </style>
  </head>

  <body
    class="home page-template-default page page-id-4264 single-booking _masterslider _msp_version_3.5.0 hotelmaster-button-classic-style header-style-1 hotelmaster-classic-style hotelmaster-single-classic-style elementor-default elementor-kit-4945"
  >
    <div
      class="body-wrapper float-menu gdlr-icon-dark gdlr-header-transparent"
      data-home="https://coconutgrovehotelsghana.com/regencyhotel"
    >
      <header class="gdlr-header-wrapper">
        <!-- top navigation -->

        <!-- logo -->
        <div class="gdlr-header-inner">
          <div class="gdlr-header-inner-overlay"></div>
          <div class="gdlr-header-container container">
            <!-- logo -->
            <div class="gdlr-logo">
              <div class="gdlr-logo-inner">
                <a href="https://coconutgrovehotelsghana.com/regencyhotel">
                  <img
                    src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/uploads/2016/04/CGH-LOGO.png"
                    alt=""
                    width="207"
                    height="100"
                    data-normal="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/uploads/2016/04/CGH-LOGO.png"
                  />
                </a>
                <div
                  class="gdlr-responsive-navigation dl-menuwrapper"
                  id="gdlr-responsive-navigation"
                >
                  <button class="dl-trigger">Open Menu</button>
                  <ul
                    id="menu-primary-menu"
                    class="dl-menu gdlr-main-mobile-menu"
                  >
                    <li
                      id="menu-item-4267"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4264 current_page_item menu-item-4267"
                    >
                      <a
                        href="https://coconutgrovehotelsghana.com/regencyhotel/"
                        aria-current="page"
                        >Home</a
                      >
                    </li>
                    <li
                      id="menu-item-4297"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"
                    >
                      <a
                        href="https://coconutgrovehotelsghana.com/regencyhotel/room-classic-3-columns/"
                        >Rooms</a
                      >
                    </li>
                    <li
                      id="menu-item-4302"
                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-4302"
                    >
                      <a
                        href="http://coconutgrovehotelsghana.com/regencyhotel/?regencybooking"
                        aria-current="page"
                        >Reservation</a
                      >
                    </li>
                    <li
                      id="menu-item-4316"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4316"
                    >
                      <a
                        href="https://coconutgrovehotelsghana.com/regencyhotel/restaurants/"
                        >Restaurants</a
                      >
                    </li>
                    <li
                      id="menu-item-4317"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4317"
                    >
                      <a
                        href="https://coconutgrovehotelsghana.com/regencyhotel/conference-banquets/"
                        >Conference &#038; Banqs</a
                      >
                    </li>
                    <li
                      id="menu-item-4318"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4318"
                    >
                      <a
                        href="https://coconutgrovehotelsghana.com/regencyhotel/contact-page-2/"
                        >Contact Us</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- navigation -->
            <div class="gdlr-navigation-wrapper">
              <nav
                class="gdlr-navigation"
                id="gdlr-main-navigation"
                role="navigation"
              >
                <ul id="menu-primary-menu-1" class="sf-menu gdlr-main-menu">
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4264 current_page_item menu-item-4267menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4264 current_page_item menu-item-4267 gdlr-normal-menu"
                  >
                    <a href="https://coconutgrovehotelsghana.com/regencyhotel/"
                      >Home</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297menu-item menu-item-type-post_type menu-item-object-page menu-item-4297 gdlr-normal-menu"
                  >
                    <a
                      href="https://coconutgrovehotelsghana.com/regencyhotel/room-classic-3-columns/"
                      >Rooms</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-4302menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-4302 gdlr-normal-menu"
                  >
                    <a
                      href="http://coconutgrovehotelsghana.com/regencyhotel/?regencybooking"
                      >Reservation</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4316menu-item menu-item-type-post_type menu-item-object-page menu-item-4316 gdlr-normal-menu"
                  >
                    <a
                      href="https://coconutgrovehotelsghana.com/regencyhotel/restaurants/"
                      >Restaurants</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4317menu-item menu-item-type-post_type menu-item-object-page menu-item-4317 gdlr-normal-menu"
                  >
                    <a
                      href="https://coconutgrovehotelsghana.com/regencyhotel/conference-banquets/"
                      >Conference &#038; Banqs</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4318menu-item menu-item-type-post_type menu-item-object-page menu-item-4318 gdlr-normal-menu"
                  >
                    <a
                      href="https://coconutgrovehotelsghana.com/regencyhotel/contact-page-2/"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </nav>
              <span class="gdlr-menu-search-button-sep">•</span>
              <i
                class="fa fa-search icon-search gdlr-menu-search-button"
                id="gdlr-menu-search-button"
              ></i>
              <div class="gdlr-menu-search-wrap">
                <div class="gdlr-menu-search" id="gdlr-menu-search">
                  <form
                    method="get"
                    id="searchform"
                    action="https://coconutgrovehotelsghana.com/regencyhotel/"
                  >
                    <div class="search-text">
                      <input
                        type="text"
                        value="Type Keywords"
                        name="s"
                        autocomplete="off"
                        data-default="Type Keywords"
                      />
                    </div>
                    <input type="submit" value="" />
                    <div class="clear"></div>
                  </form>
                </div>
              </div>
              <div
                class="gdlr-navigation-gimmick"
                id="gdlr-navigation-gimmick"
              ></div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </header>
      <div id="gdlr-header-substitute"></div>
      <div class="gdlr-page-title-wrapper">
        <div class="gdlr-page-title-overlay"></div>
        <div class="gdlr-page-title-container container">
          <h1 class="gdlr-page-title">Booking</h1>
        </div>
      </div>
      <!-- is search -->
      <div class="content-wrapper">
        <div class="gdlr-content">
          <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container gdlr-class-no-sidebar">
              <div class="with-sidebar-left twelve columns">
                <div class="with-sidebar-content twelve columns">
                  <div
                    class="gdlr-item gdlr-item-start-content"
                    id="gdlr-single-booking-content"
                    data-ajax="https://coconutgrovehotelsghana.com/regencyhotel/wp-admin/admin-ajax.php"
                  >
                    <form
                      class="gdlr-reservation-bar"
                      id="gdlr-reservation-bar"
                      data-action="gdlr_hotel_booking"
                    >
                      <div class="gdlr-reservation-bar-title">
                        Your Reservation
                      </div>
                      <div
                        class="gdlr-reservation-bar-summary-form"
                        id="gdlr-reservation-bar-summary-form"
                      ></div>
                      <div
                        class="gdlr-reservation-bar-room-form"
                        id="gdlr-reservation-bar-room-form"
                      ></div>
                      <div
                        class="gdlr-reservation-bar-date-form"
                        id="gdlr-reservation-bar-date-form"
                      >
                        <div
                          class="gdlr-reservation-field gdlr-resv-datepicker"
                        >
                          <span class="gdlr-reservation-field-title"
                            >Check In</span
                          >
                          <div class="gdlr-datepicker-wrapper">
                            <input
                              type="text"
                              id="gdlr-check-in"
                              class="gdlr-datepicker"
                              data-current-date="2022-02-28"
                              autocomplete="off"
                              data-dfm="d M yy"
                              data-block="[]"
                              value="2022-02-28"
                            /><input
                              type="hidden"
                              class="gdlr-datepicker-alt"
                              name="gdlr-check-in"
                              autocomplete="off"
                              value="2022-02-28"
                            />
                          </div>
                        </div>
                        <div
                          class="gdlr-reservation-field gdlr-resv-combobox gdlr-resv-night"
                        >
                          <span class="gdlr-reservation-field-title"
                            >Nights</span
                          >
                          <div class="gdlr-combobox-wrapper">
                            <select name="gdlr-night" id="gdlr-night">
                              <option value="1" selected>1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                            </select>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <div
                          class="gdlr-reservation-field gdlr-resv-datepicker"
                        >
                          <span class="gdlr-reservation-field-title"
                            >Check Out</span
                          >
                          <div class="gdlr-datepicker-wrapper">
                            <input
                              type="text"
                              id="gdlr-check-out"
                              class="gdlr-datepicker"
                              data-current-date="2022-02-28"
                              autocomplete="off"
                              data-min-night="1"
                              data-dfm="d M yy"
                              data-block="[]"
                              value="2022-03-01"
                            /><input
                              type="hidden"
                              class="gdlr-datepicker-alt"
                              name="gdlr-check-out"
                              autocomplete="off"
                              value="2022-03-01"
                            />
                          </div>
                        </div>
                        <div class="clear"></div>
                        <div class="gdlr-reservation-field gdlr-resv-time">
                          <span class="gdlr-reservation-field-title"
                            >Check In Time</span
                          ><span class="gdlr-resv-time-field gdlr-resv-time-hr"
                            ><span class="gdlr-reservation-time-title"
                              >Hour</span
                            >
                            <div class="gdlr-combobox-wrapper">
                              <select
                                name="gdlr-checkin-hour"
                                id="gdlr-checkin-hour"
                              >
                                <option value="15" selected>15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                              </select>
                            </div></span
                          ><span class="gdlr-reservation-time-sep">:</span
                          ><span class="gdlr-resv-time-field gdlr-resv-time-min"
                            ><span class="gdlr-reservation-time-title"
                              >Min</span
                            >
                            <div class="gdlr-combobox-wrapper">
                              <select
                                name="gdlr-checkin-min"
                                id="gdlr-checkin-min"
                              >
                                <option value="00" selected>00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                              </select>
                            </div></span
                          >
                        </div>
                        <div class="clear"></div>
                        <div
                          class="gdlr-reservation-field gdlr-resv-combobox gdlr-reservation-bar-room-number"
                        >
                          <span class="gdlr-reservation-field-title"
                            >Rooms</span
                          >
                          <div class="gdlr-combobox-wrapper">
                            <select
                              name="gdlr-room-number"
                              id="gdlr-room-number"
                            >
                              <option value="1" selected>1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                            </select>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <div
                          class="gdlr-reservation-people-amount-wrapper"
                          id="gdlr-reservation-people-amount-wrapper"
                        >
                          <div class="gdlr-reservation-people-amount">
                            <div class="gdlr-reservation-people-title">
                              Room <span>1</span>
                            </div>
                            <div
                              class="gdlr-reservation-field gdlr-resv-combobox"
                            >
                              <span class="gdlr-reservation-field-title"
                                >Adults</span
                              >
                              <div class="gdlr-combobox-wrapper">
                                <select name="gdlr-adult-number[]">
                                  <option value="1">1</option>
                                  <option value="2" selected>2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                </select>
                              </div>
                            </div>
                            <div
                              class="gdlr-reservation-field gdlr-resv-combobox"
                            >
                              <span class="gdlr-reservation-field-title"
                                >Children</span
                              >
                              <div class="gdlr-combobox-wrapper">
                                <select name="gdlr-children-number[]">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                </select>
                              </div>
                            </div>
                            <div class="clear"></div>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <a
                          id="gdlr-reservation-bar-button"
                          class="gdlr-reservation-bar-button gdlr-button with-border"
                          href="#"
                          >Check Availability</a
                        >
                        <div class="clear"></div>
                      </div>
                      <div
                        class="gdlr-reservation-bar-service-form"
                        id="gdlr-reservation-bar-service-form"
                      ></div>
                    </form>
                    <div class="gdlr-booking-content">
                      <div
                        class="gdlr-booking-process-bar"
                        id="gdlr-booking-process-bar"
                        data-state="1"
                      >
                        <div
                          data-process="1"
                          class="gdlr-booking-process gdlr-active"
                        >
                          1. Choose Date
                        </div>
                        <div data-process="2" class="gdlr-booking-process">
                          2. Choose Room
                        </div>
                        <div data-process="3" class="gdlr-booking-process">
                          3. Make a Reservation
                        </div>
                        <div data-process="4" class="gdlr-booking-process">
                          4. Confirmation
                        </div>
                      </div>
                      <div class="gdlr-booking-content-wrapper">
                        <div
                          class="gdlr-booking-content-inner"
                          id="gdlr-booking-content-inner"
                        >
                          <div class="gdlr-datepicker-range-wrapper">
                            <div
                              class="gdlr-datepicker-range"
                              data-current-date="2022-02-28"
                              id="gdlr-datepicker-range"
                              data-dfm="d M yy"
                              data-block="[]"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>

                <div class="clear"></div>
              </div>

              <div class="clear"></div>
            </div>
          </div>
        </div>
        <!-- gdlr-content -->
        <div class="clear"></div>
      </div>
      <!-- content wrapper -->

      <footer class="footer-wrapper">
        <div class="footer-container container">
          <div class="footer-column four columns" id="footer-widget-1">
            <div id="text-11" class="widget widget_text gdlr-item gdlr-widget">
              <h3 class="gdlr-widget-title">Book Now!</h3>
              <div class="clear"></div>
              <div class="textwidget">
                <p>
                  <i
                    class="gdlr-icon fa fa-phone"
                    style="color: #fff; font-size: 16px"
                  ></i>
                  +233 (302) 225155<br />
                  <i
                    class="gdlr-icon fa fa-phone"
                    style="color: #fff; font-size: 16px"
                  ></i>
                  +233 (307) 060200<br />
                  <i
                    class="gdlr-icon fa fa-phone"
                    style="color: #fff; font-size: 16px"
                  ></i>
                  +233 (307) 060201<br />
                  <i
                    class="gdlr-icon fa fa-phone"
                    style="color: #fff; font-size: 16px"
                  ></i>
                  +233 (307) 060202
                </p>
                <div class="clear"></div>
                <div class="gdlr-space" style="margin-top: -20px"></div>
                <p>
                  <i
                    class="gdlr-icon fa fa-envelope-o"
                    style="color: #fff; font-size: 16px"
                  ></i>
                  regencyreservations@coconutgrovehotelsghana.com
                </p>
                <p>
                  <a
                    href="https://www.facebook.com/CoconutGroveRegency"
                    target="_blank"
                    rel="noopener"
                    ><i
                      class="gdlr-icon fa fa-facebook-square"
                      style="color: #fff; font-size: 24px"
                    ></i
                  ></a>
                  <a
                    href="http://www.twitter.com/CGRHotelAccra"
                    target="_blank"
                    rel="noopener"
                    ><i
                      class="gdlr-icon fa fa-twitter-square"
                      style="color: #fff; font-size: 24px"
                    ></i
                  ></a>
                  <a
                    href="https://www.youtube.com/channel/UCGK30xh9il7ZmoLyhsiuKWw"
                    target="_blank"
                    rel="noopener"
                    ><i
                      class="gdlr-icon fa fa-youtube-square"
                      style="color: #fff; font-size: 24px"
                    ></i></a
                  ><a
                    href="https://plus.google.com/113294763125382581810"
                    target="_blank"
                    rel="noopener"
                    ><i
                      class="gdlr-icon fa fa-google-plus-square"
                      style="color: #fff; font-size: 24px"
                    ></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
          <div class="footer-column four columns" id="footer-widget-2">
            <div
              id="newsletterwidget-2"
              class="widget widget_newsletterwidget gdlr-item gdlr-widget"
            >
              <h3 class="gdlr-widget-title">Subscribe For Our Latest Promos</h3>
              <div class="clear"></div>
              <div class="tnp tnp-widget">
                <form
                  method="post"
                  action="https://coconutgrovehotelsghana.com/regencyhotel/?na=s"
                >
                  <input type="hidden" name="nr" value="widget" /><input
                    type="hidden"
                    name="nlang"
                    value=""
                  />
                  <div class="tnp-field tnp-field-firstname">
                    <label for="tnp-1">Name</label>
                    <input
                      class="tnp-name"
                      type="text"
                      name="nn"
                      id="tnp-1"
                      value=""
                    />
                  </div>
                  <div class="tnp-field tnp-field-email">
                    <label for="tnp-2">Email</label>
                    <input
                      class="tnp-email"
                      type="email"
                      name="ne"
                      id="tnp-2"
                      value=""
                      required
                    />
                  </div>
                  <div class="tnp-field tnp-privacy-field">
                    <label
                      ><input
                        type="checkbox"
                        name="ny"
                        required
                        class="tnp-privacy"
                      />&nbsp;Subscribing I accept the privacy rules of this
                      site</label
                    >
                  </div>
                  <div class="tnp-field tnp-field-button">
                    <input class="tnp-submit" type="submit" value="Subscribe" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="footer-column four columns" id="footer-widget-3">
            <div id="text-10" class="widget widget_text gdlr-item gdlr-widget">
              <h3 class="gdlr-widget-title">Rate Us On Trip Advisor</h3>
              <div class="clear"></div>
              <div class="textwidget">
                <div id="TA_cdswritereviewnew276" class="TA_cdswritereviewnew">
                  <ul id="bqH2U8NlXB" class="TA_links x05aAkx8">
                    <li id="UeHAgCl" class="JHXvz3GFr1">
                      <a
                        target="_blank"
                        href="https://www.tripadvisor.com/"
                        rel="noopener"
                        ><img
                          src="https://www.tripadvisor.com/img/cdsi/img2/branding/medium-logo-29834-2.png"
                          alt="TripAdvisor"
                      /></a>
                    </li>
                  </ul>
                </div>
                <p>
                  <script src="https://www.jscache.com/wejs?wtype=cdswritereviewnew&amp;uniq=276&amp;locationId=1837352&amp;lang=en_US&amp;lang=en_US&amp;display_version=2"></script>
                </p>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>

        <div class="copyright-wrapper">
          <div class="copyright-container container">
            <div class="copyright-left">
              <a
                href="https://coconutgrovehotelsghana.com/regencyhotel/"
                style="margin-right: 10px; font-size: 17px"
                >Home</a
              >|<a
                href="https://coconutgrovehotelsghana.com/regencyhotel/?booking"
                style="margin-right: 10px; margin-left: 10px; font-size: 17px"
                >Reservation</a
              >
              |
              <a
                href="https://coconutgrovehotelsghana.com/regencyhotel/contact-page-2/"
                style="margin-right: 10px; margin-left: 10px; font-size: 17px"
                >Contact</a
              >
            </div>
            <div class="copyright-right">
              <p style="font-size: 17px">Copyright 2021 All Right Reserved</p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </footer>
    </div>
    <!-- body-wrapper -->
    <script type="text/javascript"></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.7"
      id="regenerator-runtime-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0"
      id="wp-polyfill-js"
    ></script>
    <script type="text/javascript" id="contact-form-7-js-extra">
      /* <![CDATA[ */
      var wpcf7 = {
        api: {
          root: "https:\/\/coconutgrovehotelsghana.com\/regencyhotel\/wp-json\/",
          namespace: "contact-form-7\/v1",
        },
      };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.5.3"
      id="contact-form-7-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1"
      id="jquery-ui-core-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.12.1"
      id="jquery-ui-datepicker-js"
    ></script>
    <script type="text/javascript" id="jquery-ui-datepicker-js-after">
      jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
          closeText: "Close",
          currentText: "Today",
          monthNames: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ],
          monthNamesShort: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          nextText: "Next",
          prevText: "Previous",
          dayNames: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
          ],
          dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
          dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
          dateFormat: "MM d, yy",
          firstDay: 1,
          isRTL: false,
        });
      });
    </script>
    <script type="text/javascript" id="hotel-script-js-extra">
      /* <![CDATA[ */
      var objectL10n = {
        closeText: "Done",
        currentText: "Today",
        monthNames: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ],
        monthNamesShort: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec",
        ],
        monthStatus: "Show a different month",
        dayNames: [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
        ],
        dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
        firstDay: "1",
      };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/gdlr-hotel/gdlr-hotel.js?ver=1.0.0"
      id="hotel-script-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/superfish/js/superfish.js?ver=1.0"
      id="superfish-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/hoverIntent.min.js?ver=1.10.1"
      id="hoverIntent-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/dl-menu/modernizr.custom.js?ver=1.0"
      id="modernizr-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/dl-menu/jquery.dlmenu.js?ver=1.0"
      id="dlmenu-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/jquery.easing.js?ver=1.0"
      id="jquery-easing-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/jquery.transit.min.js?ver=1.0"
      id="jquery-transit-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/fancybox/jquery.fancybox.pack.js?ver=1.0"
      id="jquery-fancybox-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/fancybox/helpers/jquery.fancybox-media.js?ver=1.0"
      id="jquery-fancybox-media-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/fancybox/helpers/jquery.fancybox-thumbs.js?ver=1.0"
      id="jquery-fancybox-thumbs-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/plugins/flexslider/jquery.flexslider.js?ver=1.0"
      id="hotelmaster-flexslider-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/themes/hotelmaster-v2-04/javascript/gdlr-script.js?ver=1.0"
      id="gdlr-script-js"
    ></script>
    <script
      type="text/javascript"
      src="https://maps.google.com/maps/api/js?key=AIzaSyAHDEeRg6qdqYik_tt08Olf01gA4YtTidk&#038;libraries=geometry%2Cplaces%2Cweather%2Cpanoramio%2Cdrawing&#038;language=en&#038;ver=5.8.3"
      id="wpgmp-google-api-js"
    ></script>
    <script type="text/javascript" id="wpgmp-google-map-main-js-extra">
      /* <![CDATA[ */
      var wpgmp_local = {
        all_location: "All",
        show_locations: "Show Locations",
        sort_by: "Sort by",
        wpgmp_not_working: "Not working...",
        place_icon_url:
          "https:\/\/coconutgrovehotelsghana.com\/regencyhotel\/wp-content\/plugins\/wp-google-map-plugin\/assets\/images\/icons\/",
      };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/wp-google-map-plugin/assets/js/maps.js?ver=2.3.4"
      id="wpgmp-google-map-main-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-content/plugins/masterslider/public/assets/js/masterslider.min.js?ver=3.5.0"
      id="masterslider-core-js"
    ></script>
    <script
      type="text/javascript"
      src="https://coconutgrovehotelsghana.com/regencyhotel/wp-includes/js/wp-embed.min.js?ver=5.8.3"
      id="wp-embed-js"
    ></script>
  </body>
</html>
