{% include 'app/header.html'%}{% include 'app/home.html' %}{% load filter_tags %}{% load remove_substr %}

<!---->
{% load static%}

<section id="section6container1" class="col-sm-10">
  <div class="container" style="background:white; padding:1%;width:95%;">
    <div> {% for object in objects%}<!---->
        {% if object.user_id == pk|add:0 %}
      <div id="toprightcontent6">
        <p id="panel">{{object.firstName}} DASHBOARD</p>
      </div>
      <div id="topleftcontent6">
       
        <!---->
        {% if object.profile %}
        <img
          src="{{ object.profile.url }}"
          class="img-thumbnail"
          id="profilepic6"
          alt="profile"
        />
        {% else %}
        <img
          src="{% static 'media/download.png' %}"
          class="img-thumbnail"
          id="profilepic6"
          alt="profile"
        />
        {% endif %}

        <div class="dropdown" id="profiletext">
          <p class="dropbtn" style="font-size: 20px;color:#281564;">
            {{object.user_id}}

            <i class="fas fa-caret-down"></i>
          </p>
          <!---->
          {% else%}{% endif%} {% endfor%}
        <div style="width:10%;">
          <div class="dropdown-content">
            
            <a href="{% url 'counsellingUrls:loginPage'%}">LOGOUT</a>
          </div>
        </div>
        </div>
      </div>
      <div id="midcontent6">
        <p id="midtext" style="color:#281564">Profile</p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
              <div class="inner">
                <h3>{{ bookcount }}</h3>
                <p>Total Bookings</p>
              </div>
              <div class="icon">
                <i class="fas fa-book"></i>
              </div>
              <a
                href="{% url 'counsellingUrls:settingsPage' pk 'settings' %}"
                class="card-box-footer"
                id="settingsPage"
                >View More <i class="fa fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
              <div class="inner">
                <h3>{{pk}}</h3>
                <p>Profile</p>
              </div>
              <div class="icon">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <a
                href="{% url 'counsellingUrls:dashboardPage' pk 'profile' %}"
                class="card-box-footer"
                >Edit profile <i class="fa fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange">
              <div class="inner">
                <h3>{{ meetingcount }}</h3>
                <p>Total Meetings</p>
              </div>
              <div class="icon">
                <i class="fa fa-handshake" aria-hidden="true"></i>
              </div>
              <a href="#" class="card-box-footer"
                >View More <i class="fa fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
              <div class="inner">
                <h3>{{ count }}</h3>
                <p>Total Counsellors</p>
              </div>
              <div class="icon">
                <i class="fa fa-users"></i>
              </div>
              <a href="{% url 'counsellingUrls:all_counsellors' pk %}" class="card-box-footer"
                >View More <i class="fa fa-arrow-circle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="container">
         <p id="inputdate" />
          <br />
          <hr />
          <div class="col-sm-12">
          <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="" />
          </div>
          <div class="table-responsive">
             {% for myTime in myTimes %}
            <table class="table table-bordered text-center" style="width:14%;float:left;">
             
              <thead>
                <tr class="bg-light-gray"  s>
            <th class="text-uppercase">{{myTime.day}}</th>
                </tr>
               
              </thead>
              <tbody >  
                
                {% with myTime.availabletime|split:"," as times %}
                {% for time in times %}
                {% with time|remove_substr:"[" as tim %}
                {% with tim|remove_substr:"]" as t %}
               
                <tr >
  
                  <td style="color: white;height:100%,width:100%;">
                    <span
                      class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
                      >Available</span
                    >
                    <div class="margin-10px-top font-size14" >{{t|remove_substr:"'" }}</div>
                  </td>
                </tr>
                {% endwith %}
                {% endwith %}
               {% endfor %}
               
               {% endwith %}
                 </tbody>
            
            </table>
             {% endfor %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<script>
  date = new Date();
  year = date.getFullYear();
  month = date.getMonth() + 1;
  day = date.getDate();
  document.getElementById("inputdate").innerHTML =
    month + "/" + day + "/" + year;
</script>
