{% include 'app/header.html'%}
<style>


#avapad{
    height:95%;
    box-shadow: 1px 1px 12px -5px;
    border-radius:10px;
    overflow-y:scroll;
}


#able{
  font-family: Times New Roman;

    
     text-decoration: none;
     padding:5%;
     display:flex;
    
}

#able:hover {

  background-color: white;
  border-radius:10px;
    animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


#able:hover #ables{
  color:#0000CD;
}

#able:hover #ableicon{
  color:#FFFF00;
}



#ables{
  color: white; 
font-family: "Open Sans", sans-serif;
}

#ableicon{
  font-size: 21px;
  color:white;
}

#day{
    font-size: 18px;
    font-weight:bold;
    color:white;
      text-shadow: 2px 2px 2px red;
      font-family: "Open Sans", sans-serif;


}

#period{
  font-size:15px;
  color:white;
font-family: "Open Sans", sans-serif;
}


</style>
{% comment %} background: rgb(143, 0, 255);  {% endcomment %}
<section id="section12">
  <div class="row" style="height: 100%">
    <div
      class="col-sm-2"
      style="background: var(--red)  ;
      height: 100%; padding-left: 2%"
    >

      <div class="col-sm-12" style="border-bottom: 2px solid cyan;font-family:Times New Roman;">
        <h4 style="color: white">Days of the week</h4>
      </div>
     
      <div class="col-sm-12" style="padding-top:20%;">
        <a href="{% url 'counsellingUrls:days' pk 'MONDAY'%}" id="able"><span><i class="fas fa-cloud-sun" id = "ableicon"></i></span><span id = "ables"> MONDAY</span></a><br />
        <a href="{% url 'counsellingUrls:days' pk 'TUESDAY'%}" id="able"><span><i class="fas fa-cloud-sun" id = "ableicon"></i></span><span id = "ables"> TUESDAY</span></a><br />
        <a href="{% url 'counsellingUrls:days' pk 'WEDNESDAY'%}" id="able"><span><i class="fas fa-cloud-sun" id = "ableicon"></i></span><span id = "ables"> WEDNESDAY</span></a><br />
        <a href="{% url 'counsellingUrls:days' pk 'THRUSDAY' %}" id = "able"><span><i class="fas fa-cloud-sun" id = "ableicon"></i></span><span id = "ables"> THRUSDAY</span></a><br />
        <a href="{% url 'counsellingUrls:days' pk 'FRIDAY'%}" id="able"><span><i class="fas fa-cloud-sun" id = "ableicon"></i></span><span id = "ables"> FRIDAY</span></a><br />
        <a href="{% url 'counsellingUrls:days' pk 'SATURDAY'%}" id="able"><span><i class="fas fa-cloud-sun" id = "ableicon"></i></span><span id = "ables"> SATURDAY</span></a><br />
        <a href="{% url 'counsellingUrls:days' pk 'SUNDAY'%}" id="able"><span><i class="fas fa-cloud-sun" id = "ableicon"></i></span><span id = "ables"> SUNDAY</span></a><br />
      </div>
      <div>
      <a href= "{% url 'counsellingUrls:dashboardPage' pk %} " style="color:white;">Back</a>
    </div>
    </div>
    
    {% if dy%}
    {{dy}}
    {% else %}{% endif %}

    <div class="col-sm-10" style="padding: 2%; padding-right: 3%;">
     
    <div class="col-sm-12" id="avapad">
          <div class = "col-sm-12" style="padding: 2%;">
       {% if day %}
       <p id = "day">{{day}}</p>
       {% else %}
      <p id = "day">Please choose a day from the menu</p>
       {% endif%}
       <hr>
     
      </div>
 <form action = "{% url 'counsellingUrls:times' pk day%}" method = "post">
        {% csrf_token %}
        <div class="col-sm-12">
     <div class = "row" >

      <div class="col-sm-3">
      <div class="form-group">
        {{ availiable.slots }}

                <label for="usr"> Slots </label>  
                    </div>
                    </div>
                     
                 
            <div class="col-sm-3">
            <div class="form-group">
             {{availiable.hours}}
                <label for="usr"> Hours </label>

                </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                  {{availiable.minutes}}
                <label for="usr"> Minutes </label>

                    </div>
                    </div>
                    {% comment %} <div class="col-sm-3">
                <div class="form-group">
                  {{availiable.breaks}}
                <label for="usr"> Break </label>

                    </div>
                    </div> {% endcomment %}
                   <div class="col-sm-3" style="padding-bottom:2%;">
     <button type="submit" class="btn btn-danger">
       <i class="fa fa-clock"></i> 
       Generate time</button>
                   </div>
                        </div>
                        </div>
                               </form>

                    <!---->
                    
                      <div class="col-sm-12" >
                        <p id = "period">Periods - Please note that office hours are
                          between 8:00 am and 7:00 pm.
                        </p>
                        <hr>
                        {% if instruction == 2  %}
                        <p>After selecting a day,kindly select your prefered slot number, number of hours 
                          and the corresponding 
                          minutes you would like to spend in your meeting for that particular day
                           after which you can click on the generate time button to generate your 
                           availiable time intervals for that day.
                        </p>
                        {% elif instruction == 1 %}
                       <div style = "width:100%;padding-left:30%;padding-right:5%">
                        <div class = "col-sm-8">
                 <p class = "alert alert-success"> Your time shedule has been recorderd successfully.</p>
                        </div> 
                        </div> 
                        
                       {% endif %}
                                                   
                <form action = "{% url 'counsellingUrls:schedule' pk day %}" method = "POST">
                    {% csrf_token %}
                            <div class ="row">
                          <!---->
                          <br>
                          <br>
                          {% for n,u in time   %}
                          
                      <div class = "col-sm-4" 
                      style="border-right: 1px solid rgba(0, 0, 0, 0.1);
                      border-bottom: 1px solid rgba(0, 0, 0, 0.1);padding-top:1%;padding-bottom:1%;
                      border:1px solid rgba(0, 0, 0, 0.1);
                      ">
                               <div class = "col-sm-5">
        <input class = "form-control" type= "text" name= "start_time" value="{{n}}"/>
                              </div>
                               <div class = "col-sm-1">
                              -
                              </div>
                                <div class = "col-sm-5">
      <input class = "form-control" type= "text" name= "end_time" value="{{u}}"/>
                          </div> 
                              <div class = "col-sm-3">
 <input  type= "checkbox" name= "checkbox"/> Not available
                              </div>
                           </div>
                           
                          {% endfor %} 
                          <!---->
                          
                            <!---->
                              </div> 
                              <br><br>
                              <div style = "padding-bottom:2%;">
      <button type="submit" class="btn btn-danger" >Submit</button>
      </div>
    </form>
                          </div>
                      

      </div>

    </div>

  </div>
</section>
