{% load static %}{% include 'app/header.html'%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {
        height: 550px;
      }

      /* Set gray background color and 100% height */
      .sidenav {
        background-color: #f1f1f1;
        height: 100%;
      }

      /* On small screens, set height to 'auto' for the grid */
      @media screen and (max-width: 767px) {
        .row.content {
          height: auto;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <div class="col-sm-3 sidenav bg-info">
        <center>
          <h3
            style="
              color: white;
              padding-bottom: 5px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            "
          >
            Your Availability
          </h3>
        </center>
        <form method="post" action="">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-10">
              <h5 style="color: white">Date in</h5>
              <input type="date" class="form-control" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-5">
              <h5 style="color: white">Days availiable in the week</h5>
              <select
                name="sub"
                class="form-control"
                style="height: 50%"
                required
              >
                {% for u in range %}
                <option>{{u}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-sm-5">
              <h5 style="color: white">Number of hours per session</h5>
              <select
                name="sub"
                class="form-control"
                style="height: 50%"
                required
              >
                {% for u in rang %}
                <option>{{u}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br />
          <div
            class="row"
            style="
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
              padding-bottom: 5%;
            "
          >
            <div class="col-sm-6">
              <h5 style="color: white">Time in</h5>
              <input type="time" class="form-control" />
            </div>
            <div class="col-sm-6">
              <h5 style="color: white">Time out</h5>
              <input type="time" class="form-control" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10">
              <h5 style="color: white">Date not availiable (optional)</h5>
              <input type="date" class="form-control" />
            </div>
          </div>
          <br />

          {% comment %}
          <ul class="nav nav-pills nav-stacked">
            <li class="col-sm-10"><a href="#">Age</a></li>
            <li class="col-sm-10"><a href="#">Gender</a></li>
            <li class="col-sm-10"><a href="#">Geo</a></li>
            <li class="col-sm-10">
              <a href="{% url 'counsellingUrls:dashboardPage' pk %}">Back</a>
            </li>
          </ul>
          {% endcomment %}
          <br />
          <center>
            <button
              style="font-size: 15px"
              class="btn btn-info add-last"
              type="submit"
            >
              <i class="glyphicon glyphicon-plus"></i> Add Availability
            </button>
          </center>
        </form>
        <br />
      </div>
      <div class="col-lg-9">
        <div class="well bg-info">
          <h4 style="color: white">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
          </h4>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <h4>Users</h4>
                <p>1 Million</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Pages</h4>
                <p>100 Million</p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="well">
                <h4>Bounce</h4>
                <p>30%</p>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="well">
                <h4>Bounce</h4>
                <p>30%</p>
              </div>
            </div>
          </div>
          <div class="row-right">
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="well">
                <p>Text</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
