{% include 'app/header.html' %} {% include 'app/home.html' %}{% load static%}
<link
  rel="stylesheet"
  type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

{% block body %}{% endblock %}

<body>
  <section id="section6container3" >
    <div style="height:98%;" >
    <div class ="col-sm-12">
      {% for object in objects%}<!---->
      {% if object.user_id == pk|add:0 %}
      <div class="container text-left">
        <div class="col-sm-3">
          <h6 style="font-size: 20px;color:white;">{{object.firstName}} Profile - {{object.user_id}}</h6>
          
        </div>
      </div>
   
     <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
     <div class="col-sm-3">
       
      <!--id="objectsprofile" -->
      {% if object.profile %}
     
        <!----><img
          src="{{object.profile.url}}"
          alt="profile"
          class="img-thumbnail"
          id="objectsprofile"
          
        />
        
     
      {% else %}
      <!----><img
        src="{% static 'media/download.png' %}"
        alt="profile"
        class="img-thumbnail"
        id="objectsprofile"
      />

      {% endif %}
     
      
            </div>
      
         <div>
         </div>
      
        <div class="container-fluid bg-3 text-left" >
          <div class="row" >
             <div class="col-sm-3">
              <div class="form-group">
                 {{counsellor.user_id}}
               

                <label for="usr">ID</label>
              </div>
            </div>

             <div class="col-sm-3">
              <div class="form-group">
                {{counsellor.pin}}
                
                <label for="usr">Pin</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                 {{counsellor.title }}
                <label for="usr"> Title </label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                {{counsellor.firstName}}
               
                <label for="usr">First Name</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                 {{counsellor.lastName}}
               

                <label for="usr">Last Name</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                {{counsellor.gender}}
                <label for="usr">Gender</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                 {{counsellor.email}}
                <label for="usr">Email</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
               {{counsellor.occupation}}
                

                <label for="usr">Occupation</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                 {{counsellor.contact}}
                <label for="usr">Contact</label>
              </div>
            </div>
            <div class="col-sm-5" >
              <div class="form-group">
                {{counsellor.profile }}
                

                <label for="usr">Update Profile Pic</label>
              </div>
            </div>
          </div>
        </div>

        <!---->
        <!---->

        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px;color:white;">About</h6>
          <hr style="margin: 0%" />
          <br />

          <div class="row">
            <div class="col-sm-12">
              <div class="form-groups">
                {{ counsellor.about}}
               
              </div>
            </div>
          </div>
        
        <br />
        <!---->

  <button type="submit" class="btn" style="background:#281564;color:white;">Submit</button>
        
        {% else%}{% endif%} {% endfor%}
        </div>
      </form>

      <div class = "container" style="padding-top:5%;padding-bottom:20%;">
        <div class = "row">
        <div class="col-sm-4" style="padding-bottom:5%;">
          <h6 style="font-size: 20px;color:white;">Availability</h6>
          <hr style="margin: 0%" />
           <br />
          <a href= "{% url 'counsellingUrls:availiablePage' pk  %}" class="btn " style="background:#281564;color:white;">
            <i class="glyphicon glyphicon-plus"></i>Add Availability </a>
         
          <br />
        </div>
        <!---->

        <div class="col-sm-4" style="padding-bottom:5%;">
          <h6 style="font-size: 20px;color:white;">Experience</h6>
          <hr style="margin: 0%" />
          <br />
          
         <a href= "{% url 'counsellingUrls:availiablePage' pk  %}" class="btn " style="background:#281564;color:white;">
            <i class="glyphicon glyphicon-plus"></i>Add Experience </a>
        </div>
        <!---->
        <!---->
        <div class="col-sm-4" style="padding-bottom:5%;">
          <h6 style="font-size: 20px;color:white;">Education</h6>
          <hr style="margin: 0%" />
          <br />
         
          <a href= "{% url 'counsellingUrls:availiablePage' pk  %}" class="btn " style="background:#281564;color:white;">
            <i class="glyphicon glyphicon-plus"></i>Add Education </a>
          </div>
        
        <!---->
        <!---->
        <div class="col-sm-4" style="padding-bottom:5%;">
          <h6 style="font-size: 20px;color:white;">Achievements</h6>
          <hr style="margin: 0%" />
          <br />
 <a href= "{% url 'counsellingUrls:availiablePage' pk  %}" class="btn " style="background:#281564;color:white;">
            <i class="glyphicon glyphicon-plus"></i>Add Achievements </a>
                   
                </div>
             
        <!---->

        <!---->
        <div class="col-sm-4" style="padding-bottom:5%;">
          <h6 style="font-size: 20px;color:white;">Therapies Offered</h6>
          <hr style="margin: 0%" />
          <br />

          
             <a href= "{% url 'counsellingUrls:availiablePage' pk  %}" class="btn " style="background:#281564;color:white;">
            <i class="glyphicon glyphicon-plus"></i>Add Therapies Offered </a>

            </div>

            
         
        <!---->

        <!---->
        <div class="col-sm-4" style="padding-bottom:5%;">
          <h6 style="font-size: 20px;color:white;">Top Specialities</h6>
          <hr style="margin: 0%" />
          <br />

          <a href= "{% url 'counsellingUrls:availiablePage' pk  %}" class="btn" style="background:#281564;color:white;">
            <i class="glyphicon glyphicon-plus"></i>Add Specialities </a>

            </div>

          
         
        <!---->

      
    </div>
    </div>
    </div>
  </diV></section>

</body>
