{% include 'app/header.html' %} {% include 'app/home.html' %}{% load static%}
<link
  rel="stylesheet"
  type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

{% block body %}{% endblock %}

<body>
  <section id="section6container3">
    <div style="height:98%; overflow-x:hidden;overflow-y:scroll">
    <div >
      {% for object in objects%}<!---->
      {% if object.user_id == pk|add:0 %}
      <div class="container text-left">
        <div class="row">
          <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
          <h6 style="font-size: 20px">My Dashboard - {{object.user_id}}</h6>
        </div>
      </div>
     
     <div class="col-lg-3">
       
      <!--id="objectsprofile" -->
      {% if object.profile %}
     
        <!----><img
          src="{{object.profile.url}}"
          alt="profile"
          class="img-thumbnail"
          id="objectsprofile"
          
        />
        
     
      {% else %}
      <!----><img
        src="{% static 'media/download.png' %}"
        alt="profile"
        class="img-thumbnail"
        id="objectsprofile"
      />

      {% endif %}
     
      
            </div>
      
      
     

      
        <div class="container-fluid bg-3 text-left" >
          <div class="row" >
             <div class="col-sm-3">
              <div class="form-group">
                {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.firstName}}"
                />
                {% endcomment %} {{counsellor.user_id}}
                <!---->
                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %}

                <label for="usr">ID</label>
              </div>
            </div>

             <div class="col-sm-3">
              <div class="form-group">
                {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.firstName}}"
                />
                {% endcomment %} {{counsellor.pin}}
                <!---->
                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %}

                <label for="usr">Pin</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                 {{counsellor.title }}
                <label for="usr"> Title </label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.firstName}}"
                />
                {% endcomment %} {{counsellor.firstName}}
                <!---->
                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %}

                <label for="usr">First Name</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.lastName}}"
                />
                {% endcomment %} {{counsellor.lastName}}
                <!---->
                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %}

                <label for="usr">Last Name</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                {{counsellor.gender}}
                <label for="usr">Gender</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %} {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.email}}"
                />
                {% endcomment %} {{counsellor.email}}
                <label for="usr">Email</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.occupation}}"
                />
                {% endcomment %} {{counsellor.occupation}}
                <!---->

                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %}

                <label for="usr">Occupation</label>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %} {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.contact}}"
                />
                {% endcomment %} {{counsellor.contact}}
                <label for="usr">Contact</label>
              </div>
            </div>
            <div class="col-sm-5" >
              <div class="form-group">
                {% comment %}
                <input
                  type="text"
                  class="form-control"
                  value="{{object.firstName}}"
                />
                {% endcomment %} {{counsellor.profile }}
                <!---->
                {% comment %}
                <input type="text" class="form-control" required />
                {% endcomment %}

                <label for="usr">Update Profile Pic</label>
              </div>
            </div>
          </div>
        </div>

        <!---->
        <!---->

        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px">About</h6>
          <hr style="margin: 0%" />
          <br />

          <div class="row">
            <div class="col-sm-12">
              <div class="form-groups">
                {% comment %}
                <textarea type="text" class="form-control">
{{object.about}}</textarea
                >
                {% endcomment %} {{ counsellor.about}}
                <!---->

                {% comment %}
                <textarea
                  type="text"
                  class="form-control"
                  id="usr"
                  style="height: 200px"
                  required
                ></textarea>
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        <br />
        <!---->
        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px">Availability</h6>
          <hr style="margin: 0%" />
           <br />
          <a href= "{% url 'counsellingUrls:availiablePage' pk  %}" class="btn btn-info add-last">
            <i class="glyphicon glyphicon-plus"></i>Add Availability </a>
         
          <br />
        </div>
        <!---->

        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px">Experience</h6>
          <hr style="margin: 0%" />
          <br />
          <br />
          <div class="row">
            {% for exp in expe%}
            <div class="input-group control-group after-add-last">
              <div class="col-sm-3">
                <div
                  class="control-group input-group"
                  style="margin-bottom: 20px"
                >
                  {{ experience.experience_institution }}
                  <!---->{% comment %}
                  <input type="text" class="form-control" /> {% endcomment %}
                  <label for="usr">Institution</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div
                  class="control-group input-group"
                  style="margin-bottom: 20px"
                >
                  {{experience.experience_position}} {% comment %}
                  <input type="text" class="form-control" /> {% endcomment %}
                  <label for="usr">Position</label>
                </div>
              </div>
              <div class="col-sm-1">
              <a href ="{% url 'counsellingUrls:experience_del' exp.id %}">

                <button
                  style="font-size: 20px"
                  class="btn btn-info add-last"
                  type="button"
                >
                  <i class="glyphicon glyphicon-plus"></i>
                </button></a>
              </div>
               <div class="col-sm-1">
              <a href ="{% url 'counsellingUrls:experience_del' exp.id %}">
  
                <button
                    style="font-size: 20px"
                    class="btn btn-danger remove"
                    type="button"
                  >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button></a>
                </div>
            </div>
            {% endfor %}
           
          </div>
        </div>
        <!---->
        <!---->
        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px">Education</h6>
          <hr style="margin: 0%" />
          <br />
          <br />
          <div class="row">
            {% for ed in edu %}
            <div class="input-group control-group after-add-much">
              <div class="col-sm-3">
                <div
                  class="control-group input-group"
                  style="margin-bottom: 20px"
                >
                  {{ education.education_institution }}
                  <!---->{% comment %}
                  <input type="text" class="form-control" /> {% endcomment %}
                  <label for="usr">Institution</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div
                  class="control-group input-group"
                  style="margin-bottom: 20px"
                >
                  {{ education.year_completed }} {% comment %}
                  <input type="text" class="form-control" /> {% endcomment %}
                  <label for="usr">Year completed</label>
                </div>
              </div>
              <div class="col-sm-1">
                 <a href ="{% url 'counsellingUrls:education_del' ed.id %}">
               
                <button
                  style="font-size: 20px"
                  class="btn btn-info add-much"
                  type="button"
                >
                  <i class="glyphicon glyphicon-plus"></i>
                </button></a>
              </div>
               <div class="col-sm-1">
        <a href ="{% url 'counsellingUrls:education_del' ed.id %}">
  
                <button
                    style="font-size: 20px"
                    class="btn btn-danger remove"
                    type="button"
                  >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button></a>
                </div>
            </div>
            {% endfor %}
           
          </div>
        </div>
        <!---->
        <!---->
        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px">Achievements</h6>
          <hr style="margin: 0%" />
          <br />

          <div class="row">
            {% for ach in achieve %}
                              

            <div class="input-group control-group after-add-more">
              <div class="col-sm-4">
                <div
                  class="control-group input-group"
                  style="margin-bottom: 20px"
                >
                  {{ achievement.awards }} {% comment %}
                  <input
                    name="addmore[]"
                    id="ContactNo"
                    type="text"
                    class="form-control"
                  />
                  {% endcomment %}
                  <div class="input-group-btn">
                 <a href ="{% url 'counsellingUrls:achievement_add' ach.id %}">

                    <button
                      style="font-size: 20px"
                      class="btn btn-info add-more"
                      type="button"
                    >
                      <i class="glyphicon glyphicon-plus"></i>
                    </button></a>
                  </div>
                   <div class="col-sm-2">
                 <a href ="{% url 'counsellingUrls:achievement_del' ach.id %}">
                  
                    <button
                    style="font-size: 20px"
                    class="btn btn-danger remove"
                    type="button"
                  >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button></a>
                </div>
                </div>
              </div>                {% endfor %}

            </div>
          </div>
        </div>
        <!---->

        <!---->
        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px">Therapies Offered</h6>
          <hr style="margin: 0%" />
          <br />

          <div class="row">
            {% for the in ther %}
                              

            <div class="input-group control-group after-add-plus">
              <div class="col-sm-4">
                <div
                  class="control-group input-group"
                  style="margin-bottom: 20px"
                >
                  {{ therapy.therapies_offered }} {% comment %}
                  <input
                    name="addmore[]"
                    id="ContactNo"
                    type="text"
                    class="form-control"
                  />
                  {% endcomment %}
                  <div class="input-group-btn">
                 <a href ="{% url 'counsellingUrls:therapy_add' the.id %}">

                    <button
                      style="font-size: 20px"
                      class="btn btn-info add-plus"
                      type="button"
                    >
                      <i class="glyphicon glyphicon-plus"></i>
                    </button></a>
                  </div>
                   <div class="col-sm-2">
                 <a href ="{% url 'counsellingUrls:therapy_del' the.id %}">
 
                    <button
                    style="font-size: 20px"
                    class="btn btn-danger remove"
                    type="button"
                  >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button></a>
                </div>
                </div>
              </div>                {% endfor %}

            </div>

            
          </div>
        </div>
        <!---->

        <!---->
        <div class="container-fluid bg-3 text-left">
          <h6 style="font-size: 20px">Top Specialities</h6>
          <hr style="margin: 0%" />
          <br />

          <div class="row">
            {% for spe in spec %}
                  

            <div class="input-group control-group after-add-some">
              <div class="col-sm-4">
                <div
                  class="control-group input-group"
                  style="margin-bottom: 20px"
                >
                  {{ specialities.top_specialities }}
                  <!---->{% comment %}
                  <input
                    name="addmore[]"
                    id="ContactNo"
                    type="text"
                    class="form-control"
                  />
                  {% endcomment %}
                  <div class="input-group-btn">
                 <a href ="{% url 'counsellingUrls:speciality_add' spe.id %}">

                    <button
                      style="font-size: 20px"
                      class="btn btn-info add-some"
                      type="button"
                    >
                      <i class="glyphicon glyphicon-plus"></i>
                    </button></a>
                  </div>
                  
                   <div class="col-sm-2">
                 <a href ="{% url 'counsellingUrls:speciality_del' spe.id %}">

                    <button
                    style="font-size: 20px"
                    class="btn btn-danger remove"
                    type="button"
                  >
                    <i class="glyphicon glyphicon-remove"></i>
                  </button></a>
                </div>
                
                </div>
              </div>                {% endfor %}

            </div>

          
          </div>
        </div>
        <!---->

        <button type="submit" class="btn btn-primary">Submit</button>
        {% comment %} {% if messages %}{% for message in messages %}
        <div class="alert" alert-{{message.tags}}>{{ message}}</div>
        {% endfor %}{% endif %} {% endcomment %}
        <!---->
        {% else%}{% endif%} {% endfor%}
      </form>
    </div>
    </div>
    <div id="footer6">
    <a href="{% url 'counsellingUrls:adminPage' pk %}" id="adminPage">
      <i
        class="fas fa-circle"
        aria-hidden="true"
        id="elementID6"
        type="submit"
        method="GET"
      >
      </i>
    </a>

    <a href="{% url 'counsellingUrls:settingsPage' pk %}" id="settingsPage">
      <i
        class="fas fa-circle"
        aria-hidden="true"
        id="elementID6"
        type="submit"
        method="GET"
      >
      </i>
    </a>

    <a href="{% url 'counsellingUrls:dashboardPage' pk %}" id="dashboardPage">
      <i
        class="fas fa-circle"
        aria-hidden="true"
        id="elementID6"
        type="submit"
        method="GET"
      >
      </i>
    </a>
  </div></section>

</body>
