{% include 'app/header.html' %}
{% load static %} {% block body %}

<body ng-app="counsellingApp">
  <section id="section1" class="col-sm-2"
  
  >
    <ul class="bubble-boxes">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div id="picContainier">
      <center>
        <img id="logo1" src="{% static "media/University.png" %}" alt="home" />
        <div id="time">
          <p style="margin: 0">UG GUIDANCE &</p>
          <center><p style="margin: 0">COUNSELLING</p></center>
        </div>
      </center>
    </div>

    <div class="navigation">
      {% for object in objects %} {% if object.user_id == pk|add:0 %}
      <!---->
      
      {% if object.status == 'COUNSELLOR'%}
      <ul>
        <li>
          <a href="{% url 'counsellingUrls:adminPage' pk 'dashboard'%}">
            <span class="icon" style = "color:{{dashboard}}"
              ><ion-icon name="people-outline"></ion-icon
            ></span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="{% url 'counsellingUrls:settingsPage' pk 'settings'%}">
            <span class="icon" style = "color:{{settings}}" ><ion-icon name="home-outline"></ion-icon></span>
            <span class="title">Bookings</span>
          </a>
        </li>

       

        <li>
          <a href="{% url 'counsellingUrls:dashboardPage' pk 'profile' %}">
            <span class="icon" style = "color:{{profile}}"><ion-icon name="cloud-outline"></ion-icon></span>
            <span class="title">Profile</span>
          </a>
        </li>

        <li>
          <a href="{% url 'counsellingUrls:website'  %}">
            <span class="icon" style = "color:white"
              ><ion-icon name="globe"></ion-icon></span>
            <span class="title">UGCounselling</span>
          </a>
        </li>


        <li>
          <a
            href="https://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&ll=5.651967,-0.188441&spn=0.005466,0.010042&t=h&z=17&om=1&msid=114140572394999445956.000441bd2615d34504d68&mid=1333430664&showlabs=1"
          >
            <span class="icon"
              ><ion-icon name="navigate-outline"></ion-icon
            ></span>
            <span class="title">UG MAP</span>
          </a>
        </li>
      </ul>
      {% elif object.status == 'ADMIN' %}
      <ul>
        <li>
          <a href="{% url 'counsellingUrls:superadminPage'  pk  'admin'%}">
            <span class="icon" style = "color:{{admin}}"
              ><ion-icon name="person-outline"></ion-icon
            ></span>
            <span class="title">Admin</span>
          </a>
        </li>

        <li>
          <a href="{% url 'counsellingUrls:adminPage'  pk 'dashboard' %}">
            <span class="icon"  style = "color:{{dashboard}}"
              ><ion-icon name="people-outline"></ion-icon
            ></span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="{% url 'counsellingUrls:indexPage'  pk 'home' %}">
            <span class="icon"  style = "color:{{home}}"
            ><ion-icon name="home-outline"></ion-icon></span>
            <span class="title">Home</span>
          </a>
        </li>

       

        <li>
          <a href="{% url 'counsellingUrls:profilePage'  pk 'profile' %}">
            <span class="icon"  style = "color:{{profile}}" 
            ><ion-icon name="cloud-outline"></ion-icon></span>
            <span class="title">Profile</span>
          </a>
        </li>

         <li>
          <a href="{% url 'counsellingUrls:website'  %}">
            <span class="icon" style = "color:white"
              ><ion-icon name="globe"></ion-icon></span>
            <span class="title">UGCounselling</span>
          </a>
        </li>



       
      </ul>
      {% else %} {% endif %}
      <!---->
      {% else %}{% endif %}{% endfor %}
      <!---->
    </div>

    

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <div class="col-sm-4" id="out">
      <a href="{% url 'counsellingUrls:loginPage' %}">
        <button class="btn btn-primary">LOGOUT</button></a
      >
    </div>
  </section>

{% endblock %}
