{% include 'app/header.html' %}{% include 'app/home.html' %} {% load static%}

<section id="section4" class="col-sm-10">
  <div id="section4container">
    <div>
      <p style="width: 95%; float: left; font-weight: bold">
        Notifications <i class="fas fa-bell" style="color: gold"></i>
      </p>
      <p id="see">See All</p>
    </div>
    <center><hr id="hrsect4" /></center>

    <div
      style="overflow-y: scroll; overflow-x: hidden; height: 100%"
      class="bg-white"
    >
      {% for notificate in notification %}<!---->
      {% if notificate.student_id == pk%}
      <div id="mybox4">
        {% if notificate.counsellor_profile %}
        <img
          id="imgnotification"
          src="{{ notificate.counsellor_profile.url }}"
          alt="profile image"
        />
        {% else %}
        <img
          id="imgnotification"
          src="{% static 'media/download.png' %}"
          alt="profile image"
        />
        {% endif %}
        <div id="unique">
          <p id="notname">
            {{notificate.counsellor_title}} {{ notificate.counsellor_firstName}}
            {{notificate.counsellor_lastName}}
          </p>
          <p id="notnamesub">{{ notificate.subject}}.</p>
        </div>
        <div id="uni">
          <center>
            <p style="opacity: 0.4">{{ notificate.date}}</p>

            <p style="opacity: 0.4">{{ notificate.time}}</p>
          </center>
        </div>
      </div>
      {% else %} {% endif %} {% endfor %}
    </div>
  </div>
  <!--mybox4container-->
  <!--section4container-->
</section>
