{% include 'app/header.html' %}{% include 'app/home.html' %} {% load static%}

<section id="section4">
  <div id="section4container">
    <div>
      <p style="width: 95%; float: left; font-weight: bold">Notifications <i class="fas fa-bell" style="color:gold;"></i></p>
      <p id="see">See All</p>
    </div>
    <center><hr id="hrsect4" /></center>

    <div style="overflow-y: scroll; height: 100%;" class="bg-white">
      <div id="mybox4">
        <img id="imgnotification" src="{% static "media/University.png"%}"
        alt="profile image"/>

        <div id="unique">
          <p id="notname">UNIVERSITY OF GHANA</p>
          <p id="notnamesub">Message...</p>
        </div>
       
    </div>
  </div>
  <!--mybox4container-->
  <!--section4container-->
</section>
