{% include 'app/header.html' %}{% include 'app/home.html' %}
{% load static%}

<section id="section3" >

<div id="headpic">
 <div id = "subpic">
   <div class = "col-sm-10" id="myborder">
     <h4 style="color: white;font-weight: bold;">UG CAREER AND COUNSELLING DEPARTMENT</h4>
      </div>
      <div class="4">
        {% for object in objects %}
    {% if object.user_id == pk|add:0 %}
        <p style="color:white; font-size:15px">{{object.status}} ID: {{object.user_id}}<p>
        {% else %}{% endif %}  {% endfor %}
    </div>
      <br>
      <div class="col-sm-12">
 <a href="{% url 'counsellingUrls:search' pk%}" style="color: white;">Search for Counsellors</a>
      </div>
   {% comment %} {% for object in objects %}
           {% if object.user_id == pk|add:0 %}
  <img src="{{ object.profile.url }}" alt="profile picture" id = "idpicture"/>
  {% else %}{% endif %}
  {% endfor %} {% endcomment %}
  
 </div>
</div>







  {% comment %} <div id = "adjust" >


    
 <div id="section3div" >
     <div id="topdiv">
  <div id="searchcontainer"  >
    
       <div id="top2" >
         {% for object in objects%}<!---->
        {% if object.user_id == pk|add:0 %}
        <div>
          {% if object.profile %}
       <img id="logo3" src="{{ object.profile.url }}"  class="img-thumbnail" alt="Profile"/>
          {% else %}
<img id="logo3" src="{% static 'media/download.png' %}" class="img-thumbnail" alt="Profile"/>

          {% endif %}
      </div><br><center>
           <div class="dropdown"  > 
                
              <p  class="dropbtn" id ="objects">ID: {{object.user_id}}</p> 
           
              <div class="dropdown-content" style="position:fixed;">
          <a href="{% url 'counsellingUrls:loginPage'%}">LOGOUT</a>
              
            </div>
            
          </div>
        

        </div> </center>
        {% else%}{% endif%} {% endfor%}





        <div id="top1" >
          <center><form method="get" action="{% url 'counsellingUrls:search' pk%}">
            {% csrf_token %} <div id="mysearch"> 
       {% comment %}style="padding: 0.5%;  border-radius: 25px;background-color:rgba(211,211,211,0.5);"     
          <button style="border:none; padding:2%;border-radius:25px; background-color:rgba(211,211,211,0.1)" type="submit"><i  class="fas fa-search" style="opacity:0.5;font-size:12px;"></i></button>
             <input name="search" id="input1" style="width:90%;background-color:rgba(211,211,211,0.1);" type="search" placeholder="Search"/> 
        </form>
         </center><br/>
              <h1 id="myh1">Our Therapist</h1>
              <hr>
              <center >
  <div style=" width:25%;float: left; " >
  <div id="mysort"style="float:left; ">
  <label id="labelSort">
    
    <div class="dropdown" > 
  <p  style= "color:white;margin: 0%" >Sort</p>
  <div class="dropdown-content" >
  <a href="#"></a>
<a href="#"> </a>
 <a href="#"></a>
  </div>
</div></label>
  </div>

     </div>
     <div id="button1rep" >
  <a href="#" style="opacity:0.7;font-size:13px;padding-right:20%;"> Need more help?</a>
 <button type="submit" id="button1" href="#"> Guided Matching</button>
  </div>
  </div>      
</center>
</div>
</div>
</div>
</div>
<!----> {% endcomment %}


<div class = "container " style="padding:5%">
{% for object in objects %}
  <div class="container-fluid" style = "padding-bottom:5%;">
 <div class="row">
    <div class = "col-sm-4 bg-dark" style=" padding:0%;padding-bottom:5%;">
     
    {% if object.profile %}
      <img src="{{ object.profile.url }}" alt="profile_image" id="profilemine"/>
      {% else %}
    <img src="{% static 'media/download.png' %}" alt="profile_image"    id="profilemine"/>
      {% endif %}
     
      <div class = "col-sm-12">
       <div>
 <h5 style = "color:white;font-weight: bold;opacity:0.7;">{{object.title}}
    {{ object.firstName}} 
   {{ object.lastName}}</h5>
   <h6 style = "color:white; opacity:0.5;"> {{object.occupation}} </h6>
   <br>
   <div class="col-sm-10">
   <div class="row">
<i class="fa-solid fa-phone" id = "awe" style="color:white;opacity:0.7; font-size:15px; padding:2%;"></i>
<i class="fa-solid fa-message" id = "awe" style="color:white;opacity:0.7;  font-size:15px; padding:2%;"></i>
<i class="fa-solid fa-users" id = "awe" style="color:white;opacity:0.7;  font-size:15px; padding:2%;"></i>
</div></div>
         </div>
         </div>   
</div>
         <div class="col-sm-5 bg-primary">
           <h5 style = "color:white;font-weight: bold;opacity:0.7;">ABOUT</h5>
           <p style = "color:white;opacity:0.9;"> {{object.about}}</p>
           <br>
           <h5 style = "color:white;font-weight: bold;opacity:0.7;">EDUCATION</h5>
          <br>
           <h5 style = "color:white;font-weight: bold;opacity:0.7;">EXPERIENCE</h5>
           <br>
           <h5 style = "color:white;font-weight: bold;opacity:0.7;">AWARDS</h5>
           <br>
           <h5 style = "color:white;font-weight: bold;opacity:0.7;">TOP SPECIALITIES</h5>
         </div>

         <div class = "col-sm-3 bg-info">
      <h5 style = "color:white;font-weight: bold;opacity:0.7;">AVAILABILITY</h5>

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      <button type = "submit" id= "profilebutton" class="bg-primary" > BOOK</button>
           </div>


    
    </div>
</div>
{% endfor %}
  </div>



<script src="https://kit.fontawesome.com/0af606b224.js" crossorigin="anonymous"></script>




</section>

