{% include 'app/header.html' %}{% include 'app/home.html' %}
{% load static%}

<section id="section3" >

  <div id = "adjust" >


    
 <div id="section3div" >
     <div id="topdiv">
  <div id="searchcontainer"  >
    
       <div id="top2" >
         {% for object in objects%}<!---->
        {% if object.user_id == pk|add:0 %}
        <div>
          {% if object.profile %}
       <img id="logo3" src="{{ object.profile.url }}"  class="img-thumbnail" alt="Profile"/>
          {% else %}
<img id="logo3" src="{% static 'media/download.png' %}" class="img-thumbnail" alt="Profile"/>

          {% endif %}
      </div><br><center>
           <div class="dropdown"  > 
                
              <p  class="dropbtn" id ="objects">ID: {{object.user_id}}</p> 
           
              <div class="dropdown-content" style="position:fixed;">
          <a href="{% url 'counsellingUrls:loginPage'%}">LOGOUT</a>
              
            </div>
            
          </div>
        

        </div> </center>
        {% else%}{% endif%} {% endfor%}





        <div id="top1" >
          <center><form method="get" action="{% url 'counsellingUrls:search' pk%}">
            {% csrf_token %} <div id="mysearch"> 
       {% comment %}style="padding: 0.5%;  border-radius: 25px;background-color:rgba(211,211,211,0.5);"      {% endcomment %}
          <button style="border:none; padding:2%;border-radius:25px; background-color:rgba(211,211,211,0.1)" type="submit"><i  class="fas fa-search" style="opacity:0.5;font-size:12px;"></i></button>
            {% comment %} <input name="search" id="input1" style="width:90%;background-color:rgba(211,211,211,0.1);" type="search" placeholder="Search"/> {% endcomment %}
        </div>
        </form>
         </center><br/>
              <h1 id="myh1">Our Therapist</h1>
              <hr>
              <center >
  <div style=" width:25%;float: left; " >
  <div id="mysort"style="float:left; ">
  <label id="labelSort">
    
    <div class="dropdown" > 
  <p  style= "color:white;margin: 0%" >Sort</p>
  <div class="dropdown-content" >
  <a href="#"></a>
<a href="#"> </a>
 <a href="#"></a>
  </div>
</div></label>
  </div>

     </div>
     <div id="button1rep" >
  <a href="#" style="opacity:0.7;font-size:13px;padding-right:20%;"> Need more help?</a>
 <button type="submit" id="button1" href="#"> Guided Matching</button>
  </div>
  </div>      
</center>
</div>
</div>
</div>
</div>
<!---->

{% comment %} 

<!---->
{% for object in objects%}
<!---->
   <!---->

  <div id="mypadtop" >

    <div id="mypad" >
   
      <div id="subtab1">
         <center> 
           {% if object.profile %}
           <img id="profile"  class="a" src="{{object.profile.url }}">
{% else %}
           <img id="profile"  class="a"  src="{% static 'media/download.png' %}">

       

{% endif %}
          </center>
          <center>
            <i class="fas fa-video" style="padding:5%; color:blue; opacity:0.7;"></i>
            <i class="fas fa-user-friends" style="padding:5%; color:blue; opacity:0.7;"></i>
            <i class="fas fa-comment-dots"  style="padding:5%; color:blue; opacity:0.7;" ></i>
          </center>
              <center> 
        
              <p><i class="fas fa-location-arrow" style="opacity:0.4;"> 25 km</i></p>
      
          </center>
      </div>


      <div id="subtab2">
          <div>
            <h1 id="myh2">{{ object.title }} {{object.firstName}} {{object.lastName}}</h1>
            <p style="opacity:0.4">
              {{ object.occupation }}
              </p>
                  <div style="padding-top:2%;opacity:0.9; height:20%;overflow-x:scroll">
              {{object.about }}
                </div> 
            <div style="height:20%;">
             
                  <p id="myh2"> Therapies Offered</p>
              <div style="width:100%; ">
                {% if obj_the.therapies_offered  %}
                {% for ob_the in obj_the %}
                <center> <p id="label2">{{ob_the.therapies_offered}}</p></center>
                 {% endfor %}
                {% else %}
                <center><p id="label2"> EMDR</p></center>
                {% endif %} 
               
              </div>
             
            </div>
            <br><br>
            <div style="width:100%">

            <p id="myh2" > Top Specialities</p>
              <div style="width:100%;">
                            {% if obj_spe.top_specialities  %}
                            {% for ob_spe in obj_spe %}
                            <center><p id="label2"> {{ob_spe.top_specialities }}</p></center>
                           {% endfor %}
                            {% else %}
                                <center><p id="label2"> Abuse</p></center>
                          {% endif %}
              </div>
            </div>
          </div>
      </div>
     <form method="POST" action="">
       {% csrf_token %}
         <div id="subtab3">
                  <center>  
            <div> {% if obj_avai.start_time %}
              {% for ob_avai in obj_avai %}
                    <p id="filter2"><i class="fa fa-calendar" aria-hidden="true" style="color:blue"></i>
             {{ob_avai.date}}</p>
                      <p style="color: rgba(0,0,0,0.5); font-size: 10px;">Video Call 50 mins</p>
            </div>
                     
                        <label id="labels1" href="#">  {{ ob_avai.start_time}} - {{ ob_avai.end_time }}</label>
                     {% endfor %}
                        {% else %}
                          <label id="labels1" href="#">No available time </label>
                          {% endif %}

                <button type="submit" id="labels1" href="#" style="background-color:rgba(0,0,255,0.6);color:white;">Book</button>
                </center>
                
          </div>
          
    </div>
  </form>

  </div> 
 


    

{% endfor %}




 {% endcomment %}



<div class = "container " style="padding:5%">
{% for object in objects %}
  <div class="container-fluid" style = "padding-bottom:5%;">
  <div class = "col-sm-4 bg-dark" style="padding-bottom:5%;">
    {% if object.profile %}
    <div>
      <img src="{{ object.profile.url }}" alt="profile_image"/>
      </div>
      {% else %}
    <img src="{% static 'media/download.png' %}" alt="profile_image"   class="img-thumbnail"/>

      {% endif %}
    </div>


</div>
{% endfor %}
  </div>








</section>

