{% include 'app/header.html' %}{% include 'app/home.html' %}
<!---->
{% load static%}

<body>
  <section id="section6container2">
    <div class="col" style="background:white; padding:1%;overflow:hidden;">
      <div style="height: 98%; overflow-x: scroll; overflow-y: scroll">
        <div class="col-sm-12">
          <h5>MANAGE BOOKINGS</h5>
          <hr />
          <table id="table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Student Profile</th>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Date and time Booked</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
 <!---->
              {% for studentbook in studentbooks %}
              <!---->
              {% if studentbook.counsellor_user_id == pk|add:0%}
            <tbody>
             
              <tr>
                <td>
                  <center>
                    {% if studentbook.student_profile %}
                    <img
                      id="table_img"
                      src="{{ studentbook.student_profile.url }}"
                    />
                    {% else %}
                    <img
                      id="table_img"
                      src="{% static 'media/download.png' %}"
                    />
                    {% endif %}
                  </center>
                </td>
                <td>{{studentbook.student_id}}</td>
                <td>{{ studentbook.student_name }}</td>
                <td>{{studentbook.date}}</td>
                <td>
                  {{ studentbook.day }} - {{ studentbook.time}}
                </td>
                
                <td>{{ studentbook.student_status }}</td>
                
                <td>
                  <center>
                    <a href = {% url 'counsellingUrls:student_details' studentbook.student_id %} id="minelinks">
                    <button
                      class="btn btn-sm btn-outline-warning remove_log"
                      type="button"
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                  </a>
                  {% if studentbook.student_status == 'Pending'%}
                    <a
                 href="{% url 'counsellingUrls:update' studentbook.id  studentbook.student_status  %}"
                    id="minelinks">
                      <button
                        class="btn btn-sm btn-outline-success edit_employee"
                        type="button"
                      >
                       
                        <i class="fas fa-check"></i>
                      </button>
                    </a>
                    {% else %}
                    <a
                      href="{% url 'counsellingUrls:update' studentbook.id  studentbook.student_status  %}"
                    id="minelinks">
                      <button
                        class="btn btn-sm btn-outline-info edit_employee"
                        type="button"
                      >
                        
                        <i class="fas fa-times"></i>
                      </button>
                    </a>
                    {% endif %}
                    <a href="{% url 'counsellingUrls:delete' studentbook.id %}" id="minelinks">
                      <button
                        class="btn btn-sm btn-outline-danger remove_log"
                        type="submit"
                        id="trash"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </a>
                  </center>
                </td>
                
              </tr>
              
            </tbody>
            {% else %}{% endif %} {% endfor %}
          </table>
<script type="text/javascript">
            $(document).ready(function () {
              $("#table").DataTable();
            });
          </script>
         
        </div>
      </div>
  </section>
</body>
