{% extends 'base.html' %}{% load static %}
{% block content %}
    <div class="hero-wrap" style="background-image: url({% static 'images/#'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text w-100">
	            <h1 class="mb-4">UGCounseling </h1>
	            <p class="mb-4">Carees and Guidance department</p>
	            <p><a href="{% url 'bookingUrls:contactPage'%}" class="btn btn-primary py-3 px-4">Contact us</a></p>
            </div>
          </div>
          <a href="{% static 'videos/Legon University Ghana from the Sky.mp4' %}" class="img-video popup-vimeo d-flex align-items-center justify-content-center">
          	<span class="fa fa-play"></span>
          </a>
        </div>
      </div>
    </div>
	
    <section class="ftco-intro">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="intro aside-stretch d-lg-flex w-100">
    					<div class="icon">
    						<span class="flaticon-checklist"></span>
    					</div>
    					<div class="text">
    						<h2>100% Confidential</h2>
    						<p>Here at UGCounseling we do not disclose the conditions to any other personnel 
								apart from the permitted persons requested by our patients

							</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-1 d-lg-flex w-100">
    					<div class="icon">
    						<span class="flaticon-employee"></span>
    					</div>
    					<div class="text">
    						<h2>Qualified Team</h2>
    						<p>Our memeber of staff are carefully hand picked with outstanding
								qualifications in their individual fields of study

							</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-2 d-lg-flex w-100">
    					<div class="icon">
    						<span class="flaticon-umbrella"></span>
    					</div>
    					<div class="text">
    						<h2>Individual Approach</h2>
    						<p>A student can book a session with any of our qualified 
								counselors simply by clicking on the counsolors tab and finding a 
								preferred or availiable counsellor.
							</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">UGCOUNSELLING CENTER</span>
            <h2>How It Works</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    				<div class="services-2 text-center">
    					<div class="icon-wrap">
    						<div class="number d-flex align-items-center justify-content-center"><span>01</span></div>
	    					<div class="icon d-flex align-items-center justify-content-center">
	    						<span class="flaticon-calendar"></span>
	    					</div>
    					</div>
    					<h2>Book a session</h2>
    					<p>Click on the counselors tab on the main menu and find a preferred counselor</p>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    				<div class="services-2 text-center">
    					<div class="icon-wrap">
    						<div class="number d-flex align-items-center justify-content-center"><span>02</span></div>
	    					<div class="icon d-flex align-items-center justify-content-center">
	    						<span class="flaticon-qa"></span>
	    					</div>
    					</div>
    					<h2>Start Discussion</h2>
  						<p>After booking a session, students will sent an email
							  to notify them of the day and time they selected for their session.
						  </p>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex align-items-stretch ftco-animate">
    				<div class="services-2 text-center">
    					<div class="icon-wrap">
    						<div class="number d-flex align-items-center justify-content-center"><span>03</span></div>
	    					<div class="icon d-flex align-items-center justify-content-center">
	    						<span class="flaticon-checklist"></span>
	    					</div>
    					</div>
    					<h2>Enjoy Plan</h2>
  						<p>Student can come to the department or any place agreed upon by the counselor
							  and the student and enjoy a wonderful session of counselling
						  </p>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/university-of-ghana-legon.jpg'%});">
					</div>
					<div class="col-md-6 wrap-about px-md-5 ftco-animate py-5 bg-light">
	          <div class="heading-section">
	          	<span class="subheading">Welcome to UGCounseling</span>
	            <h4 class="mb-4" style="font-weight: bold;">The Official Counseling Platform For
					The University of Ghana,Legon.</h4>
					<span class="fa fa-quote-left">
					<br>
					<br>
	            <p>My therapist told me that a great way to let go of your anger is to write letters to people you hate and then burn them...</p>
	            <p>I did that and I feel much better but I'm wondering...do I keep the letters?</p>
<span class="fa fa-quote-right">
		            <a href="#" class="play-video popup-vimeo d-flex align-items-center mt-4">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-play"></span></div>
	            	<span class="watch">Watch Our Consultant Video</span>
	            </a>
	          </div>

					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Our Services</span>
            <h2 class="mb-3">We Can Help You With This Situation</h2>
          </div>
        </div>
				<div class="row tabulation mt-4 ftco-animate">
  				<div class="col-md-4">
						<ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
						  <li class="nav-item text-left">
						    <a class="nav-link active py-4" data-toggle="tab" href="#services-1">Academic Problem</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-2">Relationship Counseling</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-3">Depression Treatment</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-4">Family Problem</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-5">Personal Problem</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-6">Financial Problem</a>
						  </li>
						</ul>
					</div>
					<div class="col-md-8">
						<div class="tab-content">
						  <div class="tab-pane container p-0 active" id="services-1">
						  	<div class="img" style="background-image: url({% static 'images/dist.jfif'%});"></div>
						  	<h3><a href="#">Academic Problem</a></h3>
						  	<p></p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-2">
						  	<div class="img" style="background-image: url({% static 'images/admissionsHomePage.png'%});"></div>
						  	<h3><a href="#">Couples Counseling</a></h3>
						  	<p></p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-3">
						  	<div class="img" style="background-image: url({% static 'images/untitled.png'%});"></div>
						  	<h3><a href="#">Depression Treatment</a></h3>
						  	<p></p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-4">
						  	<div class="img" style="background-image: url({% static 'images/university-of-ghana-legon.webp'%});"></div>
						  	<h3><a href="#">Family Problems</a></h3>
						  	<p></p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-5">
						  	<div class="img" style="background-image: url({% static 'images/gate.jpg'%});"></div>
						  	<h3><a href="#">Personal Problem</a></h3>
						  	<p></p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-6">
						  	<div class="img" style="background-image: url({% static 'images/legon.jfif'%});"></div>
						  	<h3><a href="#">Financial Problem</a></h3>
						  	<p></p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>

  
    <section class="ftco-section testimony-section">
    	<div class="img img-bg border" style="background-image: url(images/bg_4.jpg);"></div>
    	<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading">Quotes</span>
            <h2 class="mb-3">Positive Mind set</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
    <div class="carousel-testimony owl-carousel ftco-owl">
        <div class="item">
            <div class="testimony-wrap py-4">
<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                <div class="text">
                    <p class="mb-4"></p>
                    <div class="d-flex align-items-center">
                    	<div class="pl-3">
		                    <p class="name">“When you have a dream, you’ve got to grab it and never let go.”</p>
		                    <span class="position">Carol Burnett</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div></div>
    </section>


		<section class="ftco-appointment ftco-section img" style="background-image: url(images/bg_2.jpg);">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 half ftco-animate">
    				<h2 class="mb-4">Send a Message &amp; Get in touch!</h2>
    				<form action="#"  method = "POST" class="appointment">
						{% csrf_token %}
    					<div class="row">
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" placeholder="Your Name">
			            </div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" placeholder="Email">
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			    					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
	                      <select name="" id="" class="form-control">
	                      	<option value="">Services</option>
	                        <option value="">Relation Problem</option>
	                        <option value="">Couple Counseling</option>
	                        <option value="">Depression Treatment</option>
	                        <option value="">Family Problem</option>
	                        <option value="">Personal Problem</option>
	                        <option value="">Business Problem</option>
	                      </select>
	                    </div>
			              </div>
			    				</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
			            </div>
								</div>
    					</div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>
<br>
<br>
<br>
   
{% endblock %}